.roadmap-video {
  width: 550px;
  height: 550px;
  border: none;
  box-shadow: inset 0 0 20px #00161d;
  z-index: 1;
  position: relative;
}
.video-container {
  position: relative;
}
.gradient {
  position: absolute;
  left: 0;

  width: 550px;
  height: 400px;
  z-index: 2;
  bottom: 7%;
}
