.footer-bg{
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.footer-bg > img{
    align-self: center;
    margin-left: 50px;
}

.input{
    width: 480px;
    height:54px;
    border-radius: 18px;
    border: 1px gray solid;
    background-color: transparent;
}